nav {
    background-color: rgb(92, 222, 255);
    font-family: 'Permanent Marker', cursive;
    font-family: 'Lemon', cursive;
    border-bottom: solid;
}

.mainBody {
    font-family: 'Open Sans', sans-serif;
}

#billingerror {
    color: red;
    font-style: italic;
}

#inv {
    display: none;
}

h5 {
    margin: 12px 0;
}

#stockSymbol {
    font-weight: 800;
    color: blue;
}

.stockPrice {
    margin: 5px 0;
}

.noDisp {
    display: none;
}

#printBtn {
    float: right;
}

#totalBtn {
    float: left;
}

#spanRight {
    float: right;
}